body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    
}

nav ul li{

    padding: 0 12px;
    font-size: 18px;
}

.brand img{
    height: 50px;
}

nav li{
    color: white;
    
}

.brand{
    display:flex;
    font-family:sans-serif;
    align-items: center;
    font-weight: bolder;
    font-size: 1.1rem;
}

.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin: 25px auto;
    width: 70%;
    border-radius: 12px;
    padding: 20px;
    background-image: url(bg.jpg);
    background-size: 130%;
}

.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.icons{
    margin-top: 15px;
    
}

.icons i{
    cursor: pointer;
}

#myprogressbar{

    width: 78vw;
    text-align: center;
    cursor: pointer;

}
.songItem{
    
    height: 50px;
    display:flex;
    background-color: white;
    color: black;
    margin: 20px 0;
    justify-content:space-between;
    align-items: center;
    border-radius: 34px;
    margin-top: 5.5%;
}

.songItem img{

    width: 50px;
    margin: 0 25px;
    border-radius: 50%;

}

.timestemp{
    margin: 0 20px ;
    font-size: 15px;
    
}

.songInfo img{

    opacity: 0;
    transition: opacity 0.2s ease-in;

    width: 10%;
}

.songInfo{
    color: white;
    position: absolute;
    left: 12vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}